# Libraries

# python
numpy==1.26.4
pandas==2.2.1
scipy==1.12.0

# pd
else
nn~
py4pd
cyclone

# Instructions

# fazer 1ª vez
1. instalar bibliotecas pd e reiniciar pd
2. mudar os caminhos dos modelos RAVE (módulos dos modelos)
3. instalar bibliotecas python e reiniciar pd

# fazer sempre
1. Ir ao módulo do main onde tem os "iniciar biblioteca, etc", abrir e ver se o py.load_latent está com a linha a tracejado. Se sim, editar para que não esteja.
2. Ir ao módulo do main onde tem os "volumes e start play, etc" abrir e ver se o py.coreChoice está com a linha a tracejado. Se sim, editar para que não esteja.
3. Clicar no toggle laranja e selecionar audios/EOU_electronics.wav
4. Clicar no "load latent space" e ver se o espaço latente fica visivel na grelha do lado esquerdo
5. Clicar no "all 1" no módulo pd "latent-dimensions"
6. Clicar no "reload echo library"
7. Clicar no toggle "reset play"
8. Ligar o volume do output and start playing (demora um bocadinho a começar)
9. Ligar micro (rev)
10. "Brincar" com os outros modelos
